*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}
nav{
    background:#111;
    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 40px;
}
.logo{
    font-size:1.5rem;
    font-weight:bold;
}

.hero{
    height:90vh;

    background-image:url('/img/cinema.jpg');
    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay{
    background:rgba(0,0,0,0.6);

    width:100%;
    height:100%;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    color:white;
}
.overlay h1{
    font-size:3rem;
    margin-bottom:20px;
}
.overlay p{
    font-size:1.2rem;
    margin-bottom:30px;
}
.btn{
    background:#c1121f;
    color:white;

    padding:12px 25px;

    text-decoration:none;

    border-radius:5px;

    margin-right:10px;
}
.btn-secundario{
    border:2px solid white;

    color:white;

    padding:12px 25px;

    text-decoration:none;

    border-radius:5px;
}
.nav-links a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-weight:bold;
    transition:0.3s;
}

.nav-links a:hover{
    color:#c1121f;
}
.modulos{
    padding:60px 40px;
    text-align:center;
}
.modulos h2{
    margin-bottom:40px;
}
.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}
.card{
    width:300px;

    background:white;

    padding:25px;

    border-radius:10px;

    box-shadow:0px 2px 10px rgba(0,0,0,0.2);
}
.card h3{
    margin-bottom:15px;
}
footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}
th{
    background:#111;
    color:white;
    padding:12px;
}
td{
    padding:12px;
    border-bottom:1px solid #ddd;
}
tr:hover{
    background:#f5f5f5;
}
.btn-editar{
    background:#2d6cdf;
    color:white;
    padding:8px 12px;
    text-decoration:none;
    border-radius:5px;
}
.btn-eliminar{
    background:#c1121f;
    color:white;
    padding:8px 12px;
    text-decoration:none;
    border-radius:5px;
}
.container{
    padding:40px;
}

.header-page{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:20px 0;
}
.acciones{
    display:flex;
    gap:10px;
    justify-content:center;
    align-items:center;
}
.usuario-info{
    display:flex;
    align-items:center;
    gap:20px;
}

.usuario-datos{
    display:flex;
    align-items:center;
    gap:10px;
}

.usuario-icono{
    font-size:20px;
}

.usuario-datos strong{
    display:block;
    font-size:15px;
}

.usuario-datos small{
    color:#bdbdbd;
    font-size:12px;
    text-transform:capitalize;
}

.logout{
    background:#c1121f;
    color:white;
    padding:8px 15px;
    border-radius:5px;
    text-decoration:none;
    transition:.3s;
}

.logout:hover{
    background:#970f18;
}

.rol{
    padding:3px 8px;
    border-radius:20px;
    font-size:11px;
    font-weight:bold;
    color:white;
}

.rol.admin{
    background:#d62828;
}

.rol.empleado{
    background:#1976d2;
}

.rol.cliente{
    background:#2e7d32;
}
.btn-login{
    background:#d62828;
    color:white;
    text-decoration:none;
    padding:8px 15px;
    border-radius:5px;
    font-weight:bold;
    transition:.3s;
}

.btn-login:hover{
    background:#680a0a;
}